{% extends 'base.html.twig' %}

{% block title %}Edit CategorieT{% endblock %}

{% block body %}
    <h1>Edit CategorieT</h1>

    {{ include('categorie_t/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_t_index') }}">back to list</a>

    {{ include('categorie_t/_delete_form.html.twig') }}
{% endblock %}
