.sidebarItem{
    -fx-cursor: hand;

}


.sidebarItem:hover{
    -fx-background-color: rgba(188, 71, 73, 0.2);
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}


.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.cardItem {
    -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
