{% extends 'base.html.twig' %}

{% block title %}Edit CategorieE{% endblock %}

{% block body %}
    <h1>Edit CategorieE</h1>

    {{ include('categorie_e/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_e_index') }}">back to list</a>

    {{ include('categorie_e/_delete_form.html.twig') }}
{% endblock %}
