{% extends 'base.html.twig' %}

{% block title %}New CategorieE{% endblock %}

{% block body %}
    <h1>Create new CategorieE</h1>

    {{ include('categorie_e/_form.html.twig') }}

    <a href="{{ path('categorie_e_index') }}">back to list</a>
{% endblock %}
