{% extends 'base.html.twig' %}

{% block title %}Edit CategorieM{% endblock %}

{% block body %}
    <h1>Edit CategorieM</h1>

    {{ include('categorie_m/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_m_index') }}">back to list</a>

    {{ include('categorie_m/_delete_form.html.twig') }}
{% endblock %}
